body {
  margin: 0;
  background-color: #BF8A3D;
  padding-bottom: 30px;
  color: #fff;
}
.box {
  margin: 50px; 
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
  position: relative; 
}

.card {
  width: 300px;
  height: 400px; 
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden; 
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  color: white;
}

.card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  padding: 20px;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-image {
  transform: scale(1.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.author {
  font-style: italic;
  color: #ddd;
}
/* Styles pour le toast */
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: rgba(117, 1, 1, 0.8); 
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  z-index: 1050;
  left: 50%;
  bottom: 30px;
  font-size: 18px;
  transform: translateX(-50%);
  position: fixed;
  opacity: 0; 
  transition: opacity 0.5s ease, bottom 0.5s ease; 
}

.toast.show {
  visibility: visible;
  opacity: 1; /* Devenir visible */
}


